/* Tablet */

@media (max-width: 768px) {
  nav {
    padding: 30px 60px;
    background-color: #fff;
  }

  .crafting-container {
    padding: 60px;
  }
  .crafting-container > h1 {
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 40px;
  }
  #crafting-img {
    width: 40%;
    min-width: 300px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 10%;
    right: 6%;
  }

  .elevate-container {
    padding: 110px 60px;
  }
  .elevate-container > h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .elevate-container > p {
    margin-bottom: 40px;
  }
  .elevate-container > .image-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .elevate-container > .image-text-container > img {
    width: 340px;
    height: 320px;
    object-fit: contain;
  }

  .our-services-container {
    padding: 60px;
  }
  .our-services-container > h1 {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .service-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
  }
  .service-card-item {
    width: 100%;
    height: 100%;
  }
  .service-card-item:nth-child(n + 5) {
    display: none; /* Hide from the 5th item onward */
  }
}
